## Rewrite engine
RewriteEngine on

##
RewriteRule runtime.js /development/syn/SPO/branches/rm3-clean/src/public/ample/source-builder.php?path=./
RewriteRule languages/([a-z]+)/([a-z]+).js /development/syn/SPO/branches/rm3-clean/src/public/ample/source-builder.php?path=./languages/$1/
RewriteRule ^(.*).css /development/syn/SPO/branches/rm3-clean/src/public/ample/$1.php
